* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

/* navigation section */
nav {
  background-color: #33292a;
  height: 50px;
  display: flex;
  align-items: center;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 15%;
}

nav li {
  padding: 10px;
  color: #fff;
  list-style: none;
  font-weight: bold;
  display: inline-block;
}

.icon {
  height: 25px;
  width: 30px;
  margin: 10px;
  margin-left: auto;
}

.icon img {
  height: 100%;
  width: 100%;
  display: block;
}

@media only screen and (max-width: 992px) {
  nav ul {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .icon {
    display: none;
  }
}

/* hero section */
.hero {
  background-image: url(images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: calc(100vh - 50px);
  display: flex;
  justify-content: right;
}

.content-container {
  position: absolute;
  bottom: 5%;
  margin-right: 35px;
}

.hero-text {
  color: #fff;
  font-size: 3em;
  width: 100%;
  text-align: right;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .hero-text {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 768px) {
  .content-container {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .content-container {
    margin-right: 18%;
    font-size: 0.9em;
  }
}

/* about us section */
.about-us-container {
  display: flex;
  flex-direction: column;
  padding: 50px 35px;
  gap: 30px;
}

.about-us-text h2 {
  font-size: 1.8em;
  padding-bottom: 20px;
}

p {
  font-size: 1em;
  line-height: 1.35;
}

img {
  border-radius: 5px;
}

.about-us-picture img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

@media only screen and (min-width: 768px) {
  .about-us-container {
    flex-direction: row;
    padding: 10% 50px;
  }

  .about-us-container div {
    flex: 1 1 0;
    width: 0;
  }

  .about-us-text {
    padding: 5% 0px;
  }

  .about-us h2 {
    font-size: 4em;
  }

  .about-us p {
    font-size: 1.1em;
  }

  .about-us-picture img {
    height: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .about-us-container {
    padding: 7% 18%;
  }

  .about-us h2 {
    font-size: 2.5em;
  }
}

/* what we do section */
.what-we-do {
  color: #fff;
  text-align: center;
  background-color: #33292a;
  text-shadow: 1px 1px 2px #000;
}

.what-we-do-container {
  padding: 50px 35px;
}

.what-we-do-text {
  padding-bottom: 50px;
}

.what-we-do-text h2 {
  font-size: 1.8em;
  padding-bottom: 20px;
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.icons-child img {
  height: 110px;
}

.icons-child-text {
  font-weight: bold;
  font-size: 1.9em;
  padding-top: 20px;
}

#surfing {
  padding-top: 0px;
}

@media only screen and (min-width: 768px) {
  .what-we-do-container {
    padding: 10% 50px;
  }

  .want-to-go-text {
    font-size: 1.1em;
  }

  .what-we-do-text h2 {
    font-size: 4em;
  }

  .icons {
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
  }

  .icons-child img {
    height: 65px;
  }

  .icons-child-text {
    font-size: 2em;
  }

  #surfing {
    padding-top: 20px;
  }
}

@media only screen and (min-width: 992px) {
  .what-we-do-container {
    padding: 7% 18%;
  }

  .icons {
    padding-top: 40px;
  }

  .what-we-do-text h2 {
    font-size: 2.5em;
  }
}

/* our trips section */
.our-trips-container {
  display: flex;
  flex-direction: column;
  padding: 50px 35px;
  gap: 5px;
}

.our-trips-child img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: center;
}

.our-trips-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.our-trips-text h2 {
  font-size: 1.7em;
}

@media only screen and (min-width: 768px) {
  .our-trips-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10% 50px;
  }

  .our-trips-child img {
    height: 280px;
  }

  .our-trips-text {
    height: 100%;
  }

  .our-trips-text h2 {
    font-size: 3.5em;
    margin: 0 10%;
  }
}

@media only screen and (min-width: 992px) {
  .our-trips-container {
    padding: 7% 18%;
    gap: 15px;
  }

  .our-trips-text h2 {
    font-size: 2.5em;
  }

  .our-trips-child img {
    height: 240px;
  }
}

/* where do you want to go section */
.want-to-go {
  background-color: #644b4f;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

.want-to-go-container {
  display: flex;
  flex-direction: column;
  padding: 50px 35px;
}

.want-to-go-container h2 {
  font-size: 1.8em;
  margin-bottom: 40px;
}

.first-paragraph {
  margin-bottom: 20px;
}

.button {
  background-color: #fff;
  width: 135px;
  height: 45px;
  margin-top: 50px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}

button:hover {
  background-color: #f2f2f2b6;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .want-to-go-container {
    flex-direction: row;
    padding: 10% 50px;
  }

  .want-to-go-container h2 {
    display: flex;
    justify-content: center;
    font-size: 3.5em;
    margin-bottom: 0;
    padding: 1% 6% 1% 10px;
    width: 40%;
  }

  .want-to-go-text {
    font-size: 1.1em;
  }

  .want-to-go-container div {
    flex: 1 1 0;
  }
}

@media only screen and (min-width: 992px) {
  .want-to-go-container {
    padding: 7% 18%;
  }

  .want-to-go-container h2 {
    font-size: 2.5em;
  }
}
